DB_NAME=users
DB_USER=root
DB_PASS=
DB_HOST=localhost
PORT=3000

DATABASE_URL="mysql://user:password@host:port/nama_db?schema=public"

# For example:
# DATABASE_URL="mysql://root:@localhost:3306/users_prisma?schema=public"
